<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gracias</title>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>

    <script type="text/javascript">
        (function(){
            emailjs.init({
                publicKey: "zhyZJuy3890J_np-N",
            });
        })();
    </script>

</head>
<body>
    <h1>Muchas gracias por ponerte en contacto conmigo :)</h1>
    <p>Pronto me pondré en contacto contigo</p>
  <!--  <p>Nota: si lees este mensaje es porque el servidor de envíos de correo no está disponible, y por ende no llegará el correo. Pronto lo solucionaré. Sorry :(</p>
  -->
    <p>Estos son los datos que has puesto en el formulario:</p>
    <div id="resultado"></div>
    <script>
        // Obtener los parámetros de la URL
        var params = new URLSearchParams(window.location.search);

        // Mostrar los datos en la página
        var nombre = params.get('nombre');
        var email = params.get('email');
        var mensaje = params.get('mensaje');

        // Mostrar los datos
        document.getElementById('resultado').innerHTML =
            '<strong>Nombre:</strong> ' + nombre + '<br>' +
            '<strong>Correo:</strong> ' + email + '<br>' +
            '<strong>Mensaje:</strong> ' + mensaje;
    </script>

    <script src="envio.js" defer></script>

    <form>
        <p>Si los datos que has visualizado corresponden con lo rellenado en el formulario, presiona el botón de abajo</p>
        <button type="submit" onclick="sendMail()">Enviar datos</button>
    </form>

</body>
</html>